/btn_list_pause.png
/btn_list_play.png
/btn_loop.png
/btn_next.png
/btn_pause.png
/btn_play.png
/btn_prev.png
/btn_rnd.png
/corner_1.png
/corner_2.png
/cover_1.png
/cover_2.png
/cover_3.png
/icn_chart.png
/icn_chat.png
/icn_download.png
/icn_heart.png
/icn_slider.png
/list_border.png
/wave_bottom.png
/wave_top.png
