/test_A1_NONE_align64.c
/test_A2_NONE_align64.c
/test_A4_NONE_align64.c
/test_A8_NONE_align64.c
/test_ARGB8888_NONE_align64.c
/test_I1_NONE_align64.c
/test_I2_NONE_align64.c
/test_I4_NONE_align64.c
/test_I8_NONE_align64.c
/test_L8_NONE_align64.c
/test_RGB565A8_NONE_align64.c
/test_RGB565_NONE_align64.c
/test_RGB888_NONE_align64.c
/test_XRGB8888_NONE_align64.c
