/lv_dropdown_properties.c
/lv_image_properties.c
/lv_keyboard_properties.c
/lv_label_properties.c
/lv_obj_properties.c
/lv_obj_property_names.h
/lv_roller_properties.c
/lv_style_properties.c
/lv_style_properties.h
/lv_textarea_properties.c
